@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/z-indexes.scss' as *;


	.adminPanelContainer {
		display: block;

		.usersActionRow {
			display: flex;
			justify-content: space-between;
		}

		.line {
			background-color: $light-hover;
			width: 100%;
			height: 1px;
			margin: $spacing-2xl 0;
		}

		.controlButtons {
			display: flex;
			margin-bottom: $spacing-2xl;

			.marginTeachers {
				margin: 0 $spacing-lg;
			}
		}
	}

