@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/z-indexes.scss' as *;

.radioGroup {
	.heading {
		@include body-400;
		color: $text-grey-300;
	}

	.radioItem {
		display: flex;
		padding: $vertical-padding-md $horizontal-padding-lg;
		color: $text-grey-300;

		input[type='radio'] {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

		.radioCustom {
			position: relative;
			width: 1.2rem;
			height: 1.2rem;
			border: 2px solid $text-grey-300;
			border-radius: 50%;
			margin-right: $spacing-sm;
		}

		input[type='radio']:checked + .radioCustom {
			border-color: $green-500;
		}

		input[type='radio']:checked + .radioCustom::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			width: 0.6rem;
			height: 0.6rem;
			background-color: $green-500;
			border-radius: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
